/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E     &kp R  &kp T                   &kp Y               &kp U     &kp I      &kp O    &kp P      &kp DEL
&kp TAB    &kp A  &kp S  &kp D     &kp F  &kp G                   &kp H               &kp J     &kp K      &kp L    &kp SEMI   &kp HOME
&kp LCTRL  &kp Y  &kp X  &kp C     &kp V  &kp B                   &kp N               &kp M     &kp COMMA  &kp DOT  &kp MINUS  &kp END
                         &kp LGUI  &mo 1  &mt LEFT_SHIFT SPACE    &mt LEFT_ALT ENTER  &kp BSPC  &mo 2
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&trans  &kp KP_ASTERISK  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PLUS     &trans    &trans    &trans  &trans     &trans  &trans
&trans  &kp KP_DIVIDE    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans  &kp NUMBER_0     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL    &trans    &trans    &trans  &trans     &trans  &trans
                                       &trans        &trans        &trans       &trans    &trans    &mo 3
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&trans  &kp LS(AT)     &kp SQT     &kp LS(DQT)  &kp LBKT        &kp RBKT           &kp LS(POUND)  &kp LS(AMPS)   &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &trans
&trans  &kp LS(PRCNT)  &kp FSLH    &kp BSLH     &kp LS(LPAR)    &kp LS(RPAR)       &kp LS(EXCL)   &kp LS(QMARK)  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans
&trans  &kp Y          &kp LS(LT)  &kp LS(GT)   &kp LEFT_BRACE  &kp RIGHT_BRACE    &kp LS(DLLR)   &kp M          &kp COMMA       &kp DOT         &kp MINUS        &trans
                                   &trans       &mo 3           &trans             &trans         &trans         &trans
            >;
        };

        system_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "System";
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
