/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt { flavor = "tap-preferred"; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESC    &kp Q        &kp W        &mt RA(N5) E  &kp R  &kp T                   &kp Y               &mt RA(U) U  &kp I      &mt RA(O) O  &kp P      &kp DEL
&kp TAB    &mt RA(A) A  &mt RA(S) S  &kp D         &kp F  &kp G                   &kp H               &kp J        &kp K      &kp L        &kp SEMI   &kp HOME
&kp LCTRL  &kp Y        &kp X        &kp C         &kp V  &kp B                   &kp N               &kp M        &kp COMMA  &kp DOT      &kp MINUS  &kp END
                                     &kp LGUI      &mo 1  &mt LEFT_SHIFT SPACE    &mt LEFT_ALT ENTER  &kp BSPC     &mo 2
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&trans  &kp ASTERISK  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PLUS     &trans    &trans    &trans  &trans     &trans  &trans
&trans  &kp SLASH     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans  &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL    &trans    &trans    &trans  &trans     &trans  &trans
                                    &trans        &trans        &trans       &trans    &trans    &mo 3
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&trans  &kp LS(AT)     &kp SQT     &kp LS(DQT)  &kp LBKT              &kp RBKT                 &kp LS(POUND)  &kp LS(AMPS)   &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &trans
&trans  &kp LS(PRCNT)  &kp FSLH    &kp BSLH     &kp LS(LPAR)          &kp LS(RPAR)             &kp LS(EXCL)   &kp LS(QMARK)  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans
&trans  &kp PIPE       &kp LS(LT)  &kp LS(GT)   &kp LS(LEFT_BRACKET)  &kp LS(RIGHT_BRACKET)    &kp LS(DLLR)   &kp M          &msc SCRL_DOWN  &msc SCRL_UP    &kp MINUS        &trans
                                   &trans       &mo 3                 &trans                   &trans         &trans         &trans
            >;
        };

        system_layer {
            bindings = <
&kp F1      &kp F2        &kp F3        &kp F4        &kp F5        &kp F6          &kp F7     &kp F8          &kp F9  &kp F10  &kp F11  &kp F12
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp CLEAR  &kp KP_NUMLOCK  &trans  &trans   &trans   &to 4
&trans      &trans        &trans        &trans        &trans        &trans          &trans     &trans          &trans  &trans   &trans   &trans
                                        &trans        &trans        &trans          &trans     &trans          &trans
            >;

            label = "System";
        };

        gaming_layer {
            bindings = <
&trans          &kp Q  &kp W  &kp E   &kp R             &kp T        &kp Y   &kp U   &kp I      &kp O     &kp P     &trans
&trans          &kp A  &kp S  &kp D   &kp F             &kp G        &kp H   &kp J   &kp K      &kp L     &kp UP    &tog 0
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C   &kp V             &kp B        &kp N   &kp M   &kp COMMA  &kp LEFT  &kp DOWN  &kp RIGHT
                              &trans  &kp LEFT_CONTROL  &kp SPACE    &trans  &trans  &trans
            >;

            label = "Gaming";
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
